server:
  port: 8080

spring:
  application:
    name: varun.surf
    version: ${version}
  ai:
    openai:
      api-key: YOUR_API_KEY
      chat:
        options:
          model: gpt-4o-mini

management:
  endpoints:
    web:
      exposure:
         include: health,metrics,prometheus
      base-path: /actuator
  endpoint:
    prometheus:
      access: unrestricted
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    tags:
      application: varun.surf

app:
  feature:
    ai:
      forecast:
        analysis:
          enabled: false
  analytics:
    password: "\${ANALYTICS_PASSWORD:}"
