server:
  port: 8080

spring:
  application:
    name: varun.surf
    version: ${version}
  ai:
    openai:
      api-key: YOUR_API_KEY
      chat:
        options:
          model: gpt-4o-mini
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: smollm2:135m

management:
  endpoints:
    web:
      exposure:
         include: health,metrics,prometheus
      base-path: /actuator
  endpoint:
    prometheus:
      access: unrestricted
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    tags:
      application: varun.surf

app:
  feature:
    ai:
      forecast:
        analysis:
          enabled: false
  ai:
    provider: ollama
  analytics:
    password: "\${ANALYTICS_PASSWORD:}"
