# Dozzle users configuration
# To generate a new password hash, run:
#   docker run --rm amir20/dozzle:latest generate <username> --password <password>
#
# Copy this file to users.yml and update with your credentials
users:
  admin:
    email: ""
    name: admin
    password: admin
